<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <footer class="footer_section">
        <nav class="footer_inner">
            <div class="display_flex flex_center flex_align_c">
                <a href="/recipe/list" id="footer_recipe" class="footer_link">레시피</a>
                <a href="/community/list" id="footer_community" class="footer_link">커뮤니티</a>
                <a href="/" id="footer_index" class="footer_link footer_home">
                    <span><span></span></span>
                    홈
                </a>
                <a href="/random/list" id="footer_random" class="footer_link">뭐 먹지?</a>
                <a href="/info/list" id="footer_info" class="footer_link">설정</a>
            </div>
        </nav>
    </footer>
</html>