<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
    <header class="header_section">
        <div class="w_display_flex flex_end flex_align_e">
            <div class="header_top">
                <div class="display_flex flex_between flex_align_c">
                    <button type="button" onclick="goHome()" class="header_logo">
                        <img src="/image/logo/logo.png">
                    </button>
                    <div class="header_back">
                        <div class="display_flex flex_start flex_align_c">
                            <button type="button" onclick="history.back(-1)">
                                <img src="/image/icon/common/arrow-prev-lt.png">
                            </button>
                            <p th:text="${pageTitle}">페이지제목</p>
                        </div>
                    </div>
                    <button type="button" onclick="goMenu()" class="header_hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <aside class="header_side">
                <div class="display_flex flex_start flex_align_c">
                    <!--로그인 전(로그인 구현 후 수정)-->
                    <a href="/login" sec:authorize="isAnonymous()" id="header_login"><span></span>로그인</a>
                    <a href="/signup" sec:authorize="isAnonymous()" id="header_signup"><span></span>회원가입</a>
                    <!--로그인 후(로그인 구현 후 수정)-->
                    <a href="#" sec:authorize="hasAuthority('ADMIN')"><span id="adminmypage" th:text="관리자로그인중"></span></a>
                    <a href="javascript:void(0)" onclick="mypageChk()" sec:authorize="isAuthenticated()"><span id="header_mypage" th:text="${#authentication.name}"></span>님</a>
                    <a href="/logout" sec:authorize="isAuthenticated()"><span id="header_logout"></span>로그아웃</a>
                    <!--관리자한테만 뜸(로그인 구현 후 수정)-->
                    <a href="/admin/list" sec:authorize="hasAuthority('ADMIN')" id="header_member" th:text="회원관리"></a>
                </div>
                <nav class="header_a">
                    <a href="/recipe/list" id="header_recipe" class="header_link">레시피<span></span></a>
                    <a href="/community/list" id="header_community" class="header_link">커뮤니티<span></span></a>
                    <a href="/random/list" id="header_random" class="header_link">뭐 먹지?<span></span></a>
                    <a href="/info/list" id="header_info" class="header_link">설정<span></span></a>
                </nav>
            </aside>
        </div>
    </header>
</html>