<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="list_whole">
        <h1>레시피</h1>
        <nav class="list_search">
            <div class="list_search_top">
                <div class="display_flex">

                </div>
            </div>
        </nav>
        <div class="list_inner display_flex flex_start flex_align_str">
            <div class="list_row">
                <div class="list_flex display_flex flex_start flex_align_c">
                    <img src="/">
                    <div class="display_flex flex_start flex_align_c">

                    </div>
                </div>
            </div>
            <p class="no_data_txt">등록된 레시피가 없습니다.</p>
        </div>
        <a href="/recipe/detail">상세</a>
        <a href="/recipe/register">등록</a>
        <a href="/recipe/update">수정</a>
        <a href="/recipe/delete">삭제</a>
    </div>
</html>