<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="random_whole">
        <div class="random_info">
            <p>어떤 음식을 먹어야할지 모르겠을 땐</p>
            <h1><span>오</span><span>늘</span> <span>뭐</span><span>먹</span><span>지</span><span>?</span></h1>
        </div>
    </div>
    <div class="btn_flex">
        <button type="button" class="btn_submit" onclick="randomClick()">버튼</button>
    </div>
    <div class="random_pop">
        <div class="random_bg"></div>
        <div class="random_box">
            <div id="random_place"></div>
            <div class="btn_flex">
                <button type="button" class="btn_prev" onclick="location.href='/'">메인으로</button>
                <button type="button" class="btn_submit" onclick="randomClick()">다시 뽑기</button>
            </div>
        </div>
    </div>
</html>