<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="delete_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>커뮤니티 글 삭제</h1>
            </div>
        </div>
    </div>
</html>