@charset "UTF-8";
.register_whole{
    width: 100%;
    max-width: 1000px;
    height: auto;
}
.register_inner{
    width: 100%;
    height: auto;
    margin: 40px auto;
}
/*컨텐츠 시작*/
.register_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*각 섹션 제목*/
p.register_subtitle{
    width: 100%;
    height: auto;
    margin: 0 auto 5px auto;
}
/*이미지*/
.register_img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.register_img label{
    display: block;
    width: 100%;
    min-height: 300px;
    height: 300px;
    background-color: var(--all-white);
    border-radius: 5px;
    overflow: hidden;
}
.register_img label,
.register_img label *{
	cursor: url('../../image/icon/common/cursor-pointer.png'), pointer!important;
}
input[name="image"] + img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*공통*/
.register_content{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.register_row{
    position: absolute;
    width: calc(100% - 40px);
    height: auto;
    top: -100vh;
    margin: 40px auto 0 auto;
    transition: 1s;
    opacity: 0;
    overflow-x: hidden;
}
.register_row.move_dw{
    position: unset;
    width: 100%;
    transition: 1s;
    opacity: 1;
    top: auto;
    transform: none;
}
.register_row#recipe_div2,
.register_row#recipe_div3{
    overflow: unset;
    width: 100%;
}
.register_category{
    width: 100%;
    height: auto;
    margin: 0 -20px;
    overflow-x: auto;
    padding: 0 20px;
}
.register_category::-webkit-scrollbar{
    width: auto;
    height: 5px;
    background-color: var(--ld-blue);
}
.register_category::-webkit-scrollbar-thumb{
    width: auto;
    height: 5px;
    background-color: var(--point-color);
}
.register_row label,
.register_row label *{
	cursor: url('../../image/icon/common/cursor-pointer.png'), pointer!important;
}
.register_row label + label{
    margin-left: 10px;
}
.register_row input[type="checkbox"] + span,
.register_row input[type="radio"] + span{
    display: block;
    width: calc(100% - 40px);
    max-width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
    background-color: #ebf8ff;
    border: 1px solid var(--point-color);
    border-radius: 5px;
}
.register_row input[type="checkbox"] + span:hover,
.register_row input[type="radio"] + span:hover{
    color: var(--second-color);
    font-weight: bold;
}
.register_row input[type="checkbox"]:checked + span,
.register_row input[type="radio"]:checked + span{
    color: var(--all-white);
    background-color: var(--second-color);
    border-color: var(--point-color);
}
.register_row input[type="checkbox"]:checked + span:hover,
.register_row input[type="radio"]:checked + span:hover{
    font-weight: 400;
}
/*방법*/
.register_make div{
    display: flex;
    margin: 0 auto;
}
.register_make div + div{
    margin-top: 5px;
}
.register_make button{
    display: block;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    color: var(--all-white);
    background-color: var(--point-color);
}
.register_make button:hover{
    background-color: var(--second-color);
}

.register_row .btn_flex{
    margin-top: 0;
}