<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="list_whole">
        <h1>회원 관리</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>이름</th>
                <th>아이디</th>
                <th>이메일</th>
                <th>주민번호</th>
                <th>전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="User:${list}">
                <td th:text="${User.name}"></td>
                <td th:text="${User.id}"></td>
                <td th:text="${User.email_id}+'@'+${User.email_domain}"></td>
                <td th:text="${User.jumin1}+'-'+${User.jumin2}+'******'"></td>
                <td th:text="${User.tel1}+'-'+${User.tel2}+'-'+${User.tel3}"></td>
                <td th:text="${User.streetaddr}+' '+${User.addr}+' '+${User.detailaddr}"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <div th:each="page : ${#numbers.sequence(0, total -1)}">
            <span th:if="${npage == pageStat.index}">
                <p th:text="${pageStat.index+1}"></p>
            </span>
            <span th:if="${npage != pageStat.index}">
                <a th:href="@{/member/list(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
            </span>
        </div>
    </div>
    <!--페이징 처리-->

</html>