<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
<div class="pw-search">
    <h2>비밀번호 찾기</h2>
    <div>
        <label>아이디</label>
        <input type="text" name="id" id="id" placeholder="아이디를 입력하세요." onkeyup="click_btn()">
    </div>
    <div>
        <label>이름</label>
        <input type="text" name="name" id="name" placeholder="이름을 입력하세요." onkeyup="click_btn()">
    </div>
    <div>
        <label>전화번호</label>
        <div class="tel">
            <select id="fir_tel">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="019">019</option>
            </select>
            <p>-</p>
            <input type="text" maxlength="4" id="mid_tel" size="5" onkeyup="click_btn()">
            <p>-</p>
            <input type="text" maxlength="4" id="end_tel" size="5" onkeyup="click_btn()">
        </div>
    </div>
    <div>
        <label>이메일</label>
        <div class="email">
            <input type="text" name="email_id" id="email_id" placeholder="이메일" maxlength="18" onkeyup="email_concat()">
            <p>@</p>
            <input type="text" id="email_domain" class="email_domain" placeholder="직접 입력" maxlength="18" onkeyup="email_concat()">
            <select class="select" id="domain_select" onchange="mailSelect()">
                <option value="emailall" selected>-선택-</option>
                <option value="naver.com">naver.com</option>
                <option value="gamil.com">gmail.com</option>
                <option value="hanmail.com">hanmail.com</option>
                <option value="hotmail.com">hotmail.com</option>
                <option value="korea.com">korea.com</option>
                <option value="nate.com">nate.com</option>
                <option value="yahoo.com">yahoo.com</option>
            </select>
        </div>
    </div>
    <div class="btn_flex">
        <button type="button" onclick="findPW()" id="findpw" class="btn_submit">비밀번호 찾기</button>
    </div>
</div>
</html>