<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="category_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>카테고리 관리</h1>
            </div>
        </div>
        <div class="category_inner">
            <button type="button" class="category_register" onclick="location.href='/info/register?num=0&info=register'">등록 +</button>
            <table class="category_table">
                <thead>
                    <tr>
                        <th class="table_num">번호</th>
                        <th>메인 카테고리</th>
                        <th>서브 카테고리</th>
                        <th class="table_etc">비고</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category:${categoryList}">
                        <td class="table_num" th:text="${category.categorynum}">번호</td>
                        <td th:text="${category.maincategory}">메인카테고리</td>
                        <td th:text="${category.subcategory}">서브카테고리</td>
                        <td class="table_etc">
                           <a th:href="@{/info/register(num=${category.categorynum},info='update')}">수정</a>
                           <a th:href="@{/info/register(num=${category.categorynum},info='delete')}">삭제</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" th:if="${categoryList == null} or ${categoryList.size() == 0}" class="no_data_txt">등록된 카테고리가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <div th:each="page : ${#numbers.sequence(0, total -1)}">
                    <span th:if="${npage == pageStat.index}">
                        <p th:text="${pageStat.index+1}"></p>
                    </span>
                        <span th:if="${npage != pageStat.index}">
                        <a th:href="@{/info/category(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</html>