<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="info_whole">
        <h1>설정</h1>
        <div class="info_inner">
            <a href="/mypage" class="info_row">
                <span class="info_txt">마이페이지</span>
                <span class="info_img"></span>
            </a>
            <a href="/info/info" class="info_row">
                <span class="info_txt">프로젝트 정보</span>
                <span class="info_img"></span>
            </a>
            <a href="/faq/list" class="info_row">
                <span class="info_txt">문의</span>
                <span class="info_img"></span>
            </a>
            <a href="/info/category" class="info_row">
                <span class="info_txt">카테고리</span>
                <span class="info_img"></span>
            </a>
        </div>
    </div>
</html>