<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="list_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>FAQ</h1>
                <a href="/faq/register" sec:authorize="hasAuthority('ADMIN')" class="faq_register_btn">등록 +</a>
            </div>
        </div>
        <div class="faq_whole">
            <div class="faq_row" th:each="faq:${list}">
                <div class="faq_common faq_title">
                    <p>Q.</p>
                    <p th:text="${faq.question}"></p>
                </div>
                <div class="faq_inner">
                    <div class="faq_common faq_answer">
                        <p>A.</p>
                        <p th:text="${faq.asked}"></p>
                    </div>
                    <div class="btn_flex">
                        <a th:href="@{/faq/update(num=${faq.faqnum})}" sec:authorize="hasAuthority('ADMIN')"><button type="button" class="btn_prev">수정</button></a>
                        <a th:href="@{/faq/delete(num=${faq.faqnum})}" sec:authorize="hasAuthority('ADMIN')"><button type="button" class="btn_submit">삭제</button></a>
                    </div>
                </div>
            </div>
            <p th:if="${list == null} or ${list.size() == 0}" class="no_data_txt">등록된 FAQ가 없습니다.</p>
        </div>
    </div>
</html>