<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="update_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>FAQ 수정</h1>
            </div>
        </div>
        <form action="/faq/updatesave" method="post">
        <div class="faq-update">
            <div class="faq_upsub">
                <div class="faq_info1">
                    <label>FAQ번호</label>
                    <input type="text" name="faqnum" id="faqnum" th:value="${dto.faqnum}" readonly>
                </div>
                <div class="faq_info1">
                    <label>FAQ질문</label>
                    <input type="text" name="question" id="question" th:value="${dto.question}">
                </div>
                <div class="faq_info1">
                    <label>FAQ답변</label>
                    <input type="text" name="asked" id="asked" th:value="${dto.asked}">
                </div>
                <div class="btn_flex">
                    <a type="submit"><button class="btn_submit">수정완료</button></a>
                </div>
            </div>
        </div>
        </form>
    </div>
</html>