@charset "UTF-8";
.display_block{
    display: block;
}
.display_flex{
    display: flex;
}
.flex_wrap{
    flex-wrap: wrap;
}
.flex_start{
    justify-content: flex-start;
}
.flex_center{
    justify-content: center;
}
.flex_between{
    justify-content: space-between;
}
.flex_end{
    justify-content: flex-end;
}
.flex_align_s{
    align-items: start;
}
.flex_align_c{
    align-items: center;
}
.flex_align_e{
    align-items: end;
}
/*전체 페이지 공통*/
.main_whole{
    width: 100vw;
    min-height: calc(100vh - 110px);
    height: auto;
    padding: 50px 0 60px 0;
}
.main_inner{
    width: calc(100% - 40px);
    max-width: 1200px;
    height: auto;
    margin: 30px auto 50px auto;
}
.main_whole h1{
    font-size: 20px;
    line-height: 29px;
}
.main_whole h2{
    font-size: 18px;
    line-height: 27px;
}
select{
    width: 100%;
    max-width: 160px;
    height: 40px;
    outline: none;
    padding: 0 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--lt-gray);
    border-radius: 5px;
    background: url('/image/icon/common/select-dw.png') no-repeat var(--all-white) calc(100% - 10px) 50%/20px auto;
    transition: 0.5s;
}
select:focus{
    border-color: var(--point-color);
    background: url('/image/icon/common/select-up.png') no-repeat var(--all-white) calc(100% - 10px) 50%/20px auto;
    transition: 0.5s;
}
input[type="text"],
input[type="password"]{
    width: calc(100% - 22px);
    min-height: 26px;
    height: 26px;
    border: 1px solid var(--lt-gray);
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
    background-color: var(--all-white);
}
input,
textarea{
	cursor: url('../../image/icon/common/cursor-text.png'), text!important;
}
input:focus{
    border-color: var(--point-color);
    outline: none;
}
select:disabled{
    cursor: default!important;
}
input:read-only,
textarea:read-only{
    opacity: 0.7;
    cursor: default!important;
}
input:read-only:focus,
textarea:read-only:focus{
    border-color: var(--lt-gray);
    cursor: default;
}
/*테이블 공통*/
.main_inner table{
    table-layout: fixed;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-spacing: 0;
}
.main_inner table th{
    height: 40px;
    background-color: var(--md-blue);
    text-align: center;
}
.main_inner table td{
    height: 40px;
    background-color: var(--all-white);
    text-align: center;
    border-bottom: 1px solid var(--lite-gray);
}
.main_inner table th.table_num,
.main_inner table td.table_num{
    min-width: 50px;
    width: 50px;
    max-width: 50px;
}
.main_inner table th.table_etc,
.main_inner table td.table_etc{
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}
.main_inner table td.table_etc a{
    color: var(--point-color);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--point-color);
}
.main_inner table td.table_etc a + a{
    color: var(--red-color);
    border-color: var(--red-color);
    margin-left: 10px;
}
.main_inner table td.table_etc a:hover{
    font-weight: bold;
}
.btn_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
}
.btn_flex button{
    display: block;
    width: 100%;
    max-width: 150px;
    height: 40px;
    border: 1px solid var(--bg-none);
    border-radius: 5px;
    background-color: var(--all-white);
}
.btn_flex button + button{
    margin-left: 10px;
}
.btn_flex button.btn_prev{
    color: var(--point-color);
    border-color: var(--point-color);
}
.btn_flex button.btn_prev:hover{
    color: var(--second-color);
    border-color: var(--second-color);
    background-color: var(--lt-blue);
}
.btn_flex button.btn_submit{
    color: var(--all-white);
    background-color: var(--point-color);
}
.btn_flex button.btn_submit:hover{
    background-color: var(--second-color);
}
@media (min-width: 1024px){
    .w_display_flex{
        display: flex;
    }
    .main_whole{
        min-height: calc(100vh - 100px);
        padding: 50px 0;
    }
}