@charset "UTF-8";
.header_section{
    position: fixed;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--point-color);
}
.header_top{
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    padding: 10px 20px;
}
.header_top .display_flex{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.header_logo{
    width: auto;
    height: auto;
}
.header_logo img{
    display: block;
    width: auto;
    height: 30px;
    background-size: contain;
}
.header_back{
    display: none;
    width: auto;
    height: auto;
}
.header_back button{
    display: block;
    min-width: 30px;
    width: 30px;
    height: 30px;
}
.header_back img{
    display: block;
    width: auto;
    height: 20px;
    background-size: contain;
    margin-right: 10px;
}
.header_back p{
    color: var(--bg-white);
}
.header_hamburger{
    position: relative;
    display: block;
    min-width: 25px;
    width: 25px;
    height: 25px;
    z-index: 3;
}
.header_hamburger span{
    position: absolute;
    display: block;
    min-width: 24px;
    width: 24px;
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--all-white);
    transition: 0.5s;
}
.header_hamburger span:nth-child(2){
    top: 12px;
}
.header_hamburger span:last-child{
    top: auto;
    bottom: 4.5px;
}
.header_on .header_hamburger span{
    transition: 0.5s;
    background-color: var(--point-color);
}
.header_on .header_hamburger span:nth-child(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}
.header_on .header_hamburger span:nth-child(2){
    display: none;
}
.header_on .header_hamburger span:last-child{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
/*사이드 메뉴*/
.header_side{
    position: fixed;
    width: calc(100% - 40px);
    max-width: 260px;
    min-height: calc(100vh - 40px);
    padding: 20px;
    background-color: var(--all-white);
    top: 0;
    left: calc(100vw + 300px);
    transition: 1.5s;
    z-index: 1;
}
.header_on + .header_side{
    left: auto;
    right: 0;
    transition: 1.5s;
}
.header_side .display_flex a{
    display: block;
    color: var(--ddp-gray);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--bg-none);
    transition: 0.2s;
}
.header_side .display_flex a:hover{
    border-color: var(--dp-gray);
    transition: 0.2s;
}
.header_side .display_flex a + a{
    margin-left: 10px;
}
/*nav*/
.header_a{
    width: 100%;
    height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    margin: 50px auto 40px auto;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 15px;
}
.header_a::-webkit-scrollbar{
    width: 5px;
    height: auto;
    background-color: var(--lite-blue);
}
.header_a::-webkit-scrollbar-thumb{
    width: 5px;
    height: auto;
    background-color: var(--md-blue);
}
a.header_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    line-height: 28px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bg-none);
    transition: 0.2s;
}
a.header_link:hover{
    border-color: var(--md-blue);
    transition: 0.2s;
}
a.header_link + a.header_link{
    margin-top: 20px;
}
a.header_link span{
    display: block;
    min-width: 40px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
a.header_link#header_recipe:hover span{
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url('/image/icon/common/link-hover1.png') no-repeat;
    background-size: contain;
}
a.header_link#header_community:hover span{
    background: url('/image/icon/common/link-hover2.png') no-repeat;
    background-size: contain;
}
a.header_link#header_random:hover span{
    background: url('/image/icon/common/link-hover3.png') no-repeat;
    background-size: contain;
}
a.header_link#header_info:hover span{
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url('/image/icon/common/link-hover4.png') no-repeat;
    background-size: contain;
}
a.link_on#header_recipe span,
a.link_on#header_recipe:hover span{
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url('/image/icon/common/link-icon1.png') no-repeat;
    background-size: contain;
}
a.link_on#header_community span,
a.link_on#header_community:hover span{
    background: url('/image/icon/common/link-icon2.png') no-repeat;
    background-size: contain;
}
a.link_on#header_random span,
a.link_on#header_random:hover span{
    background: url('/image/icon/common/link-icon3.png') no-repeat;
    background-size: contain;
}
a.link_on#header_info span,
a.link_on#header_info:hover span{
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url('/image/icon/common/link-icon4.png') no-repeat;
    background-size: contain;
}
a.link_on{
    color: var(--point-color)!important;
    border-color: var(--point-color)!important;
	cursor: url('../../image/icon/common/cursor-default.png'), default!important;
}
@media(min-width: 1024px){
    .header_top{
        width: max-content;
    }
    .header_hamburger{
        display: none;
    }
    /*사이드 메뉴*/
    .header_side{
        position: unset;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: none;
        min-height: auto;
        padding: 0 20px;
        background-color: var(--bg-none);
        top: auto;
        left: auto;
        transition: none;
        z-index: 1;
    }
    .header_side .display_flex a{
        padding-bottom: 8px;
        margin-bottom: 2px;
        color: var(--lt-gray);
    }
    .header_side .display_flex a:hover{
        border-color: var(--lite-blue);
    }
    .header_side .display_flex a + a{
        margin-left: 20px;
    }
    /*nav*/
    .header_a{
        position: absolute;
        display: flex;
        width: max-content;
        height: auto;
        max-height: none;
        overflow: visible;
        overflow-y: initial;
        margin: 0;
        padding-right: 0;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
    }
    a.header_link{
        min-width: max-content;
        color: var(--md-blue);
        padding: 0 25px 10px 25px;
    }
    a.header_link + a.header_link{
        margin: 0;
    }
    a.header_link span{
        display: none;
    }
    a.link_on{
        color: var(--all-white)!important;
        border-color: var(--lite-blue)!important;
    }
}